.button-container {
  display: flex;
  height: 100px;
  background-color: #85CDBC;
  width: 25%;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: auto;
  text-align: center;
  padding: 2px 2px 2px 2px;
  border: none;
  color: black;
}

button {
  background-color: #85CDBC;
  border: none;
  color: black;
  margin-left: 15px;
  justify-content: space-around;
  display: flex;
}
.container{
  display: flex; justify-content: space-around;
}
