li {
  background: lightgray;
  flex-grow: 8;
  margin: 5px;
  /*background-color: #85CDBC;*/
}

.odd-li {
  background: lavender;
  margin: 5px;
}

.last-li {
  background: pink;
  margin: 5px;
}








