 /*You can add global styles to this file, and also import other style files*/
.container{
  display: grid;
  justify-content: center;
  padding: 20px
}

 .background-red{
   background-color: red;
   height: 100px;
   justify-content: center;
   position: fixed;
   top: 50%;
   left: 37%;
   width: 300px;
   margin-left: -100px;
 }


